[versions]

# Added by buildout at 2014-01-31 10:11:21.474707
collective.recipe.cmd = 0.8
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.10
hexagonit.recipe.download = 1.7
meld3 = 0.6.10
mr.developer = 1.28
mr.scripty = 1.0b3
supervisor = 3.0
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.0
SPARQLWrapper = 1.5.2

# Required by:
# rdflib==4.1.0
isodate = 0.4.9

# Required by:
# rdflib==4.1.0
pyparsing = 2.0.1

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.0

# Added by buildout at 2014-01-31 10:37:39.139320
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.10
hexagonit.recipe.download = 1.7
meld3 = 0.6.10
mr.developer = 1.28
mr.scripty = 1.0b3
supervisor = 3.0
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.0
SPARQLWrapper = 1.5.2

# Required by:
# rdflib==4.1.0
isodate = 0.4.9

# Required by:
# rdflib==4.1.0
pyparsing = 2.0.1

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.0

# Added by buildout at 2014-07-31 13:14:16.874217
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.11
hexagonit.recipe.download = 1.7
meld3 = 1.0.0
mr.developer = 1.30
mr.scripty = 1.0b3
supervisor = 3.1.0
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.2
SPARQLWrapper = 1.6.2

# Required by:
# rdflib==4.1.2
html5lib = 0.999

# Required by:
# rdflib==4.1.2
isodate = 0.5.0

# Required by:
# rdflib==4.1.2
pyparsing = 2.0.2

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.2

# Required by:
# html5lib==0.999
six = 1.7.3

# Added by buildout at 2014-10-03 07:58:02.266974
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.11
hexagonit.recipe.download = 1.7
meld3 = 1.0.0
mr.developer = 1.30
mr.scripty = 1.0b3
supervisor = 3.1.2
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.2
SPARQLWrapper = 1.6.4

# Required by:
# rdflib==4.1.2
html5lib = 0.999

# Required by:
# rdflib==4.1.2
isodate = 0.5.0

# Required by:
# rdflib==4.1.2
pyparsing = 2.0.2

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.2

# Required by:
# html5lib==0.999
six = 1.8.0

# Added by buildout at 2014-10-03 08:13:54.220194
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.11
hexagonit.recipe.download = 1.7
meld3 = 1.0.0
mr.developer = 1.30
mr.scripty = 1.0b3
supervisor = 3.1.2
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.2
SPARQLWrapper = 1.6.4

# Required by:
# rdflib==4.1.2
html5lib = 0.999

# Required by:
# rdflib==4.1.2
isodate = 0.5.0

# Required by:
# rdflib==4.1.2
pyparsing = 2.0.2

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.2

# Required by:
# html5lib==0.999
six = 1.8.0

# Added by buildout at 2014-10-03 08:44:38.277246
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.11
hexagonit.recipe.download = 1.7
meld3 = 1.0.0
mr.developer = 1.30
mr.scripty = 1.0b3
supervisor = 3.1.2
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.2
SPARQLWrapper = 1.6.4

# Required by:
# rdflib==4.1.2
html5lib = 0.999

# Required by:
# rdflib==4.1.2
isodate = 0.5.0

# Required by:
# rdflib==4.1.2
pyparsing = 2.0.2

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.2

# Required by:
# html5lib==0.999
six = 1.8.0

# Added by buildout at 2014-10-03 10:17:19.593484
collective.recipe.supervisor = 0.19
collective.recipe.template = 1.11
hexagonit.recipe.download = 1.7
meld3 = 1.0.0
mr.developer = 1.30
mr.scripty = 1.0b3
supervisor = 3.1.2
z3c.recipe.mkdir = 0.6
zc.recipe.egg = 2.0.1

# Required by:
# rdflib==4.1.2
SPARQLWrapper = 1.6.4

# Required by:
# rdflib==4.1.2
html5lib = 0.999

# Required by:
# rdflib==4.1.2
isodate = 0.5.0

# Required by:
# rdflib==4.1.2
pyparsing = 2.0.2

# Required by:
# edrn.sync==1.0.3
rdflib = 4.1.2

# Required by:
# html5lib==0.999
six = 1.8.0
